<div id="container">
  <div>
    <p>UUID : <strong>{{ data?.uuid }}</strong></p>
    <p>Model : {{ data?.model }}</p>
    <p>OS : {{ data?.operatingSystem }}</p>
    <p>Platform : {{ data?.platform }}</p>
  </div>
  <div style="margin-bottom: 10px;">
    <label>Password Numeric</label>
    <input class="password" type="number" pattern="[0-9]*" inputmode="numeric"></div>
  <div style="margin-bottom: 10px;"><label>Text qwerty</label>
    <input type="text" inputmode="text"></div>
  <div> <label>Text Numeric</label>
    <input type="number" inputmode="numeric"></div>
</div>