input[type="text"] {
    /* -webkit-text-security: disc !important;
    -moz-webkit-text-security: disc !important;
    -moz-text-security: disc !important; */
    border: none;
    border-bottom: 1px solid black;
}

.password {
    -webkit-text-security: disc !important;
    -moz-webkit-text-security: disc !important;
    -moz-text-security: disc !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    border: none;
    border-bottom: 1px solid black;
    -moz-appearance: textfield;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
